
#invoicePreview{
    font-size: 10px;
}
.companyLogoContainer {
    width: 17%;
    box-sizing: border-box;
    margin-left: 10%;
}
.col-8 > p{
    font-size: 13px;
}
.companyLogoImg{
    width: 100%;
}
.customerDetailsContainer{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.customerInfoInvoicePreview:nth-child(0){
    margin-bottom: 0.4rem;
}
.textRightDataAfterTable{
    width: 40%;
    margin-left: 50%;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    text-align: right;
}
.textRightDataAfterTableHeadings{
    font-size: 13px;
    font-weight: bold;
    text-align: right;
}
.textRightDataAfterTableData{
    font-size: 12px;
    text-align: right;
}
.colorHrLine{
    background-color: #0997cf;
    height: 1px;
    margin-bottom: 0.3rem;
}